:root,
[data-theme="light"] {
  --primary: #34495e !important;
  --primary-color: #34495e !important;

  --primary-900: #111d28 !important;
  --primary-800: #233546 !important;
  --primary-700: #34495e !important;
  --primary-600: #4a5d70 !important;
  --primary-500: #647382 !important;
  --primary-400: #86909a !important;
  --primary-300: #a3a9b0 !important;
  --primary-200: #c4c7ca !important;
  --primary-100: #e1e2e3 !important;
  --primary-50: #f2f3f5 !important;
  --primary-25: #fcfdff !important;
  
  --gray-800: #1D2939 !important;
  --gray-700: #344054 !important;
  --gray-600: #475467 !important;
  --gray-500: #667085 !important;
  --gray-400: #98A2B3 !important;
  --gray-300: #D0D5DD !important;
  --gray-200: #EAECF0 !important;
  --gray-100: #F2F4F7 !important;
  --gray-50: #F9FAFB !important;
  --gray-25: #FCFCFD !important;

  --white: #fff;

  --sidebar-select-color: var(--primary-800) !important;
  --bg-color: #fff !important;
}
